::selection,
::-moz-selection {
    background: #d75701;
    color: #fff;
    text-shadow: none;
}

.post-body {
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
    color: #222;
}

.post-body h1,
.post-body .h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.post-body h2,
.post-body .h2 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.post-body h3,
.post-body .h3,
.section h1 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

.post-body h4,
.post-body .h4,
.section h2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.post-body h5,
.post-body .h5,
.section h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.post-body h6,
.post-body .h6,
.section h4,
.section h5,
.section h6 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}

.post-body ul {
    margin: 0 0 15px 15px;
}

.post-body ol {
    margin: 0 0 15px 20px;
}

.post-body li {
    margin-bottom: 5px;
}

.post-body li ul,
.post-body li ol {
    margin-bottom: 0;
}

.post-body dl {
    margin-bottom: 10px;
}

.post-body dl dt {
    font-weight: bold;
}

.post-body dl dd {
    margin: 0 0 5px 10px;
}

.post-body p {
    /*line-height: 20px;*/
    margin-top: 10px;
    margin-bottom: 12px;
    /*font-size: 14px;*/
}

.post-body blockquote {
    margin-top: 20px 0;
    padding: 0 0 0 20px;
    border-left: 5px solid #d75701;
}

.post-body blockquote p:first-child {
    margin-top: 5px;
}

.post-body .descr {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #7f7e7e;
}

.post-body img {
    padding: 2px;
    border: 1px solid #C2C2C2;
    margin: 0px 15px 5px 0px;
    max-width: 700px;
}

.post-body a {
    color: #0275d8;
    text-decoration: none;
}

.post-body a:focus,
.post-body a:hover {
    color: #014c8c;
    text-decoration: underline;
}

.post-body a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.post-body a.img-link {
    border-bottom: 0;
}

.post-body a.img-link:hover img {
    border-color: #d75701;
}

.post-body footer {
    padding-top: 10px;
}

.post-body footer h4 {
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 28px;
    padding: 0px 15px 0px 0;
}

.post-body .tags {
    list-style: none;
    margin: 0 0 10px 0;
}

.post-body .tags li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.post-body .tags a {
    padding: 3px 10px;
    font-size: 13px;
    text-shadow: 0 1px 1px #F9F9F9;
    background: #E9E9E9;
    border: 1px solid #C2C2C2;
}

.post-body .tags a:hover {
    background: #d75701;
    color: #fff;
    text-shadow: none;
    border: 1px solid #d75701;
}

.post-body .disqus-thread a {
    border-bottom: 0;
}

.post-body .load-more-button {
    display: inline-block;
    margin: 0 20px 50px 20px;
    padding: 10px 30px;
    background-color: #d75701;
    border: 1px solid #d75701;
    color: #fff;
}

.post-body .load-more-button:hover {
    border: 1px solid #d75701;
    background: #fff;
    color: #d75701;
}

.post-body .load-more-button .spinner {
    left: 140px;
    top: -8px;
}

.post-body .read-more-link {
    display: inline-block;
    margin: 0;
    padding: 2px 20px;
    background-color: #d75701;
    border: 1px solid #d75701;
    color: #fff;
}

.post-body .read-more-link:hover {
    background: #fff;
    color: #d75701;
}

.post-body img {
    max-width: 95%;
}

#articales .loading {
    display: block;
    padding: 35px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}


/* pretty print code block */

code,
pre,
.docutils.literal {
    padding: 0 3px 2px;
    color: #333;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 3px;
}

code,
.docutils.literal {
    padding: 2px 4px;
    color: #d75701;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 8px;
    margin: 0 0 9px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

pre code,
blockquote code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}


/*
.code {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-animation: -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
*/

ol.linenums {
    margin: 0;
}

ol.linenums li,
.code .ln {
    padding-left: 12px;
    color: #bebec5;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}

ol.linenums li> span.codeline {
    color: #333;
}

.code .ln {
    padding-right: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

pre,
code {
    font-family: "Source Code Pro";
}
