/* color schema */
body {
    background: rgb(255, 255, 255) !important;
    color: rgb(85, 85, 85) !important;
}
body, .fa {
    color: rgb(85, 85, 85) !important;
}
.fa-inverse {
    color: white !important;
}
body, .left-half h1{
    border-color: rgb(85, 85, 85) !important;
}

/* struct style */
html {
    background: #A6AB95;
    text-align: center;
    display: block;
}
body {
    width: 297.5mm;
    height: 192.5mm;
    box-sizing: padding-box;
    /* center */
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.2857);
    /*other*/
    overflow: hidden;
    text-overflow: hidden;
    font-family: "Source Code Pro";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 0 50px rgba(0,0,0,0.5),
                0 0 50px rgba(0,0,0,0.5);
    border-bottom: solid 15px;
}

body a,
body a:hover,
body a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body ul {
    padding-left: 0;
    list-style: inside;
    list-style-type: none;
    font-weight: bold;
}


/* card */

body> div {
    text-align: left;
    position: absolute;
}

.left-half {}

.right-half {
    right: 20px;
    bottom: 20px;
}

.left-half h1 {
    font-size: 70px;
    padding-left: 50px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom-width: 9px;
    border-bottom-style: dashed;
    font-weight: 900;
}

.family-name {
    font-weight: 600;
}

.left-half ul {
    font-size: 38px;
    line-height: 2;
}

.right-half ul {
    font-size: 32px;
}

.qrcode {
    width: 280px;
    position: absolute;
    right: 25px;
    top: 25px;
    /*padding: 5px;
    border: solid 5px;*/
}
