/* color schema */

:root {
    --text-color: #c6c6c6;
    --background-color: #222323;
    --border-color: var(--text-color);
    --inverse-color: var(--background-color);
}

body,
.left-half h1,
.fa {
    color: var(--text-color) !important;
    border-color: var(--border-color) !important;
}

body {
    background-color: var(--background-color) !important;
}

.fa-inverse {
    color: var(--inverse-color) !important;
}


/* struct style */

html {
    background: #A6AB95;
    text-align: center;
    display: block;
}

body {
    /* 2998×1947 to get 3012x1947 screenshot */
    /* Microsoft Presenter: 1004x649 */
    width: 3012px;
    height: 1906px;
    box-sizing: padding-box;
    /* center */
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.111);
    /*other*/
    overflow: hidden;
    text-overflow: hidden;
    font-family: "Source Code Pro";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.5), 0 0 200px rgba(0, 0, 0, 0.5);
    border-bottom: solid 43px;
}

body a,
body a:hover,
body a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body ul {
    padding-left: 0;
    list-style: inside;
    list-style-type: none;
    font-weight: bold;
}


/* card */

body> div {
    text-align: left;
    position: absolute;
}

.left-half {}

.right-half {
    right: 54px;
    bottom: 54px;
}

.left-half h1 {
    font-size: 188px;
    padding-left: 135px;
    margin-bottom: 81px;
    padding-bottom: 40px;
    border-bottom-width: 24px;
    border-bottom-style: dashed;
    font-weight: 900;
}

.family-name {
    font-weight: 600;
}

.left-half ul {
    font-size: 103px;
    line-height: 2;
}

.right-half ul {
    font-size: 86px;
}

.qrcode {
    width: 754px;
    position: absolute;
    right: 68px;
    top: 68px;
    /*padding: 13px;
    border: solid 13px;*/
}
