/* common */

html {
    width: 100%;
}

body {
    background-color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
    padding: 20px;
    margin: 0 auto;
    box-sizing: padding-box;
}

header a,
header a:hover,
header a:active,
#articales article hgroup a,
#articales article hgroup a:active,
#articales article hgroup a:hover,
.vcard a,
.vcard a:hover,
.vcard a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

header h1 {
    font-weight: 300;
    font-size: 36px;
    color: rgb(85, 85, 85);
}

header h1 small {
    font-size: 25px;
    font-weight: 100;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    color: #990000;
    font-size: 16px;
    display: inline-block;
    line-height: 130%;
    padding: 0 !important;
    margin: 0 !important;
}

header nav ul li:after {
    content: '|';
    margin: 0 8px;
    color: black;
}

header nav ul li:last-child:after {
    display: none;
}

header nav ul li:last-child {
    border-right: none;
    padding-right: 0;
}

@media (min-width: 800px) {
    .container {
        width: 800px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 799px) {
    .conainer {
        width: 100%;
    }
}
