body {
    font-family: Source Code Pro, Arial, sans-serif !important;
}

@media (min-width: 768px) {
    aside.card {
        width: 35%;
        float: right;
    }
    section.hresume {
        width: 60%;
        float: left;
    }
    aside.card .vcard {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .hresume .title {
        margin-top: 50px;
    }
}

.hresume> dl> dt {
    line-height: 2;
    width: 100%;
    border-bottom: solid 1px gray;
    font-size: 20px;
    font-weight: 600;
}

.hresume> dl> dd {
    font-size: 13px;
    margin-left: 20px;
    font-weight: 500;
}

@media (max-width: 425px) {
    .container {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hresume> dl> dd {
        margin-left: 0;
    }
}

.skills h2 {
    font-size: 18px;
}

dd+ * {
    margin: 20px 0;
}

dd> ul {
    padding-left: 0;
    list-style: none;
}

dd> ul> li {
    padding-top: 5px;
}

.notes .term {
    width: 180px;
    display: inline-block;
}

.languages .term {
    width: 80px;
    display: inline-block;
}

.education .duration {
    float: right;
}
