@media (min-width: 768px) {
    aside.card {
        width: 35%;
        float: right;
    }
    section.resume,
    footer {
        width: 60%;
        float: left;
    }
    aside.card .h-card {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.card .more>span {
    font-weight: 500;
    font-size: 15px;
}

.card .more ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .resume .title {
        margin-top: 50px;
    }
    .card .more ul li {
        display: inline-block;
        text-decoration: underline;
    }
}

@media screen {
    .resume a,
    .resume a:hover,
    .resume a:active {
        text-decoration: underline;
    }
}

.resume>dl>dt {
    line-height: 2;
    width: 100%;
    border-bottom: solid 1px gray;
    font-size: 20px;
    font-weight: 600;
}

.resume>dl>dd {
    font-size: 13px;
    padding-left: 20px;
    margin-left: 0;
    font-weight: 500;
}

@media (max-width: 425px) {
    .container {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .resume>dl>dd {
        margin-left: 0;
    }
}

.skills h2 {
    font-size: 18px;
}

dl>dt {
    margin: 20px 0;
}

dd.skills>ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
    /*lower-greek;*/
    margin: 10px 0;
}

dd:not(.skills)>ul {
    padding-left: 0;
    list-style: none;
}

dd>ul>li {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.notes .term {
    width: 180px;
}

.languages .term {
    width: 75px;
}

/* dates */

.dt-start:before {
    content: "(";
}

.dt-end:before {
    content: " - ";
}

.dt-end:after {
    content: ")";
}

.duration {
    float: right;
}

/* table */

.notes .term,
.notes .def,
.languages .term,
.languages .def {
    display: table-cell;
}

.p-experience,
.p-education {
    padding: 10px 0;
    border-bottom: solid 1px silver;
}

.p-experience:last-child,
.p-education:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.p-experience ul {
    padding-left: 10px;
    list-style-position: inside;
    list-style-type: square;
}

.p-experience .p-name,
.p-experience .p-org,
.p-education .speciality {
    font-weight: 600;
}

.experience .p-experience .p-name {
    font-style: italic;
}

.p-experience .p-location:after {
    content: ", ";
}

.line1 {
    padding-bottom: 10px;
}

@media (max-width: 1000px) {
    .line1 {
        padding-bottom: 15px;
    }
}

.portfolio .line2 {
    padding-bottom: 5px;
}

.portfolio .line2 {
    font-size: 11px;
    color: gray;
    font-weight: 600;
}

[data-rank]:before {
    font-family: FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
}

[data-rank]:before {
    content: "\f006\f006\f006\f006\f006";
}

[data-rank="0+"]:before {
    content: "\f123\f006\f006\f006\f006";
}

[data-rank="1"]:before {
    content: "\f005\f006\f006\f006\f006";
}

[data-rank="1+"]:before {
    content: "\f005\f123\f006\f006\f006";
}

[data-rank="2"]:before {
    content: "\f005\f005\f006\f006\f006";
}

[data-rank="2+"]:before {
    content: "\f005\f005\f123\f006\f006";
}

[data-rank="3"]:before {
    content: "\f005\f005\f005\f006\f006";
}

[data-rank="3+"]:before {
    content: "\f005\f005\f005\f123\f006";
}

[data-rank="4"]:before {
    content: "\f005\f005\f005\f005\f006";
}

[data-rank="4+"]:before {
    content: "\f005\f005\f005\f005\f123";
}

[data-rank="5"]:before {
    content: "\f005\f005\f005\f005\f005";
}

.p-skill:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nowrap {
    display: inline-block;
}

.def-note {
    font-size: 10px;
    font-weight: 500;
}

.def-note:before {
    content: '\f29c';
    font-weight: 400;
    font-family: fontawesome;
    padding-right: 5px;
    font-size: 10px;
}

footer {
    margin: 0;
    padding: 30px 0;
}

footer h6 {
    padding: 0;
    margin: 5px 0px;
}

footer p {
    font-size: 11px;
    font-weight: 500;
    margin-top: 0;
    padding: 5px 0;
}

footer textarea {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    resize: none;
    border-radius: 0px;
    border: 1px solid #EDEDED;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

footer textarea:focus {
    border: 1px solid #00bfff;
}

footer button[type="submit"] {
    float: right;
    margin-top: 10px;
    border-radius: 0px;
    border: 1px solid #00bfff;
    background: #00bfff;
    color: #fff;
    line-height: 2rem;
}

footer button[type="submit"]:hover {
    border: 1px solid #00bfff;
    background: #fff;
    color: #00bfff;
    transition: background 0.5s;
}