@media (min-width: 768px) {
    aside.card {
        width: 35%;
        float: right;
    }
    section.h-resume {
        width: 60%;
        float: left;
    }
    aside.card .vcard {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.card .more> span {
    font-weight: 500;
    font-size: 15px;
}

.card .more ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .h-resume .title {
        margin-top: 50px;
    }
    .card .more ul li {
        display: inline-block;
        text-decoration: underline;
    }
}

.h-resume a,
.h-resume a:hover,
.h-resume a:active {
    text-decoration: underline;
}

.h-resume> dl> dt {
    line-height: 2;
    width: 100%;
    border-bottom: solid 1px gray;
    font-size: 20px;
    font-weight: 600;
}

.h-resume> dl> dd {
    font-size: 13px;
    margin-left: 20px;
    font-weight: 500;
}

@media (max-width: 425px) {
    .container {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .h-resume> dl> dd {
        margin-left: 0;
    }
}

.skills h2 {
    font-size: 18px;
}

dd+ * {
    margin: 20px 0;
}

dd.skills> ul {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: square;
    /*lower-greek;*/
}

dd:not(.skills)> ul {
    padding-left: 0;
    list-style: none;
}

dd> ul> li {
    padding-top: 5px;
}

.notes .term {
    width: 180px;
}

.languages .term {
    width: 75px;
}


/* dates */

.dt-start:before {
    content: "(";
}

.dt-end:before {
    content: " - ";
}

.dt-end:after {
    content: ")";
}

.duration {
    float: right;
}


/* table */

.notes .term,
.notes .def,
.languages .term,
.languages .def {
    display: table-cell;
}

.p-experience,
.p-education {
    padding: 10px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.p-experience:last-child,
.p-education:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.p-experience ul {
    padding-left: 10px;
    list-style-position: inside;
    list-style-type: square;
}

.p-experience .p-title,
.p-experience .p-org,
.p-education .speciality {
    font-weight: 600;
}

.p-experience .p-org:before {
    content: " - ";
}

.line1 {
    padding-bottom: 10px;
}

@media (max-width: 1000px) {
    .line1 {
        padding-bottom: 15px;
    }
}

.portfolio .line2 {
    padding-bottom: 5px;
}

.portfolio .line2 {
    font-size: 12px;
    color: gray;
}
