html {
    width: 100%;
}

body {
    background-color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
    padding: 20px;
    margin: 0 auto;
    box-sizing: padding-box;
}

header a,
header a:hover,
header a:active,
#articales article hgroup a,
#articales article hgroup a:active,
#articales article hgroup a:hover,
.vcard a,
.vcard a:hover,
.vcard a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

#articales article hgroup a:hover {
    color: #d75701;
}

header h1 {
    font-weight: 300;
    font-size: 36px;
    color: rgb(85, 85, 85);
}

header h1 small {
    font-size: 25px;
    font-weight: 100;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    color: #990000;
    font-size: 16px;
    display: inline-block;
    line-height: 130%;
    padding: 0 !important;
    margin: 0 !important;
}

header nav ul li:after {
    content: '|';
    margin: 0 8px;
    color: black;
}

header nav ul li:last-child:after {
    display: none;
}

header nav ul li:last-child {
    border-right: none;
    padding-right: 0;
}

.post-date {
    color: #818a91;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    display: block;
}

@media (min-width: 800px) {
    .container {
        width: 800px;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 799px) {
    .conainer {
        width: 100%;
    }
}

#posts-nav ul {
    list-style-type: none;
    width: 100;
    margin: 0;
    padding: 0;
    width: 100%;
}

#posts-nav ul li {
    display: inline;
}

#posts-nav ul li a,
#posts-nav ul li a:hover,
#posts-nav ul li a:active {
    padding: 5px;
    text-decoration-style: double;
    text-decoration-color: black;
    color: inherit;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#prev-post {
    float: left;
    display: none;
}

#next-post {
    float: right;
    display: none;
}

.vcard {
    color: white;
    padding: 30px;
    display: block;
    border-top: 15px solid #388ac1;
    background: #3498db;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 2
}

.vcard .n {
    font-weight: bold;
}

.vcard .nickname {
    font-weight: 400;
    font-size: 80%;
    padding-left: 10px;
}

.vcard .nickname:before {
    content: "(";
}

.vcard .nickname:after {
    content: ")";
}

.vcard .title {
    margin-bottom: 20px;
    display: block;
}

.vcard ul {
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
    margin-top: 0;
}

.vcard ul li {
    padding: 2px 0;
}
