<header>
    <nav>
        <ul class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
            <li itemprop="name"><a itemprop="url" href="/">Home</a></li>
            <li itemprop="name"><a itemprop="url" href="/blog">Blog</a></li>
            <li><a href="https://github.com/{{ site.github.username }}">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/{{ site.linkedin.username }}">LinkedIn</a></li>
            <li itemprop="name"><a itemprop="url" href="https://docs.google.com/document/d/1els8AzVKoeV-XVTy6KQXegVmsll4zWlgsPIvrTErR38/edit" rel="author" target="_blank">Resume</a></li>
            <li itemprop="name"><a itemprop="url" href="/contact">Contact</a></li>
        </ul>
        {% if include.icons %}
        <ul class="icons">
          {% if site.donate %}
            <li><a target="_blank" href="{{ site.donate }}" title="Donate"><img alt="Donate" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></a></li>
          {% endif %}
          <li><a rel="archives" title="Archive" href="archive"><i class="fa fa-folder-open"></i></a></li>
          <li><a title="Atom feeds" rel="alternate" type="application/atom+xml" href="feed.xml"><i class="fa fa-rss"></i></a></li>
        </ul>
        {% endif %}
    </nav>
</header>
