.post {
    width: 100%;
}

#articales:not(.type-archive):not(.type-tag) .post {
    padding: 50px 0;
    border-bottom: 1px solid #C2C2C2;
}

#articales.type-archive .post,
#articales.type-tag .post,
#articales.type-tags>ul>li>a {
    padding: 3px 0;
    font-weight: 500;
}

#articales.type-archive .post:first-child,
#articales.type-tag .post:first-child,
#articales.type-tags>ul>li:first-child {
    padding-top: 50px;
}

#articales.type-archive .post:last-child,
#articales.type-tag .post:last-child,
#articales.type-tags>ul>li:last-child {
    padding-bottom: 50px;
}

#articales.type-archive .post hgroup>*,
#articales.type-tag .post hgroup>* {
    display: table-cell;
    font-size: 15px;
}

#articales.type-archive .post .post-date,
#articales.type-tag .post .post-date {
    padding-right: 20px;
}

#articales.type-tags>ul {
    list-style-type: none;
}

.post:last-child {
    border: none;
}

.post-title,
#articales.type-tags {
    color: steelblue;
}

.post-date {
    color: #818a91;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    display: block;
}

.post-share {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-size: 120%;
}

.post-share>* {
    display: inline-block;
}

.post-share li a {
    margin-left: 10px;
}

#posts-nav ul {
    list-style-type: none;
    width: 100;
    margin: 0;
    padding: 0;
    width: 100%;
}

#posts-nav ul li {
    display: inline;
}

#posts-nav ul li a,
#posts-nav ul li a:hover,
#posts-nav ul li a:active {
    padding: 5px;
    text-decoration-style: double;
    text-decoration-color: black;
    color: inherit;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#prev-post {
    float: left;
    /*display: none;*/
}

#next-post {
    float: right;
    /*display: none;*/
}