/* color schema */
:root {
    --text-color: darkblue;
    --background-color: white;
    --border-color: var(--text-color);
    --arrow-color: var(--text-color);
    --cercle-color: var(--text-color);
    --icons-color: var(--background-color);
    --border-size: 0;
}

body,
.left-half h1,
.fa {
    color: darkblue !important;
    color: var(--text-color) !important;
    border-color: darkblue !important;
    border-color: var(--border-color) !important;
}

body {
    background-color: white !important;
    background-color: var(--background-color) !important;
    border-bottom-width: white;
    border-bottom-width: var(--border-size);
}

.left-half .fa {
    color: darkblue !important;
    color: var(--arrow-color) !important;
}

.right-half .fa {
    color: darkblue !important;
    color: var(--cercle-color) !important;
}

.right-half .fa-inverse {
    color: white !important;
    color: var(--icons-color) !important;
}

svg g#Pattern rect {
    fill: darkblue;
    fill: var(--text-color);
}

/* struct style */
html {
    background: #A6AB95;
    text-align: center;
    display: block;
}

body {
    /* 6010×3894 x2 */
    /* 2998×1947 x1 to get 3012x1947 screenshot */
    /* Microsoft Presenter: 1004x649 */
    width: 3012px;
    height: 1948px;
    box-sizing: padding-box;
    /* center */
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%) scale(0.11);
    transform: translate(-50%, -50%) scale(0.11);
    /*other*/
    overflow: hidden;
    text-overflow: hidden;
    font-family: "Source Code Pro";
    text-rendering: optimizelegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.5), 0 0 200px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-bottom-style: solid;
}

body a,
body a:hover,
body a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body ul {
    padding-left: 0;
    list-style: inside;
    list-style-type: none;
    font-weight: bold;
}

/* card */
body>div {
    text-align: left;
    position: absolute;
}

.right-half {
    right: 54px;
    bottom: 54px;
}

.left-half h1 {
    font-size: 188px;
    padding-left: 135px;
    margin-bottom: 81px;
    padding-bottom: 40px;
    border-bottom-width: 25px;
    border-bottom-style: dashed;
    font-weight: 900;
}

.family-name {
    font-weight: 600;
}

.left-half ul {
    font-size: 103px;
    line-height: 2;
}

.right-half ul {
    font-size: 86px;
}

.qrcode img,
.qrcode svg {
    width: 900px;
    height: 900px;
    position: absolute;
    right: 40px;
    top: 40px;
    /*padding: 13px;
    border: solid 13px;*/
}